@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --var-font:"Cairo", sans-serif;
    --var-color:#0FCBFF;

}


body {
    height: 100vh;
    background-color: #f0f0f0f0;
}

.up {
    margin: 10px auto;
    width: 800px;
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-family: var(--var-font);
}

.up h1 {
    color: var(--var-color);
}

.up a {
    color: crimson;
}

.container {
    width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding: 1rem 2rem;
    height: 400px;
    border-radius: 30px;
    overflow-y: auto;
}

.container .info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-family: var(--var-font);
}

.info p {
    font-size: 19px;
    color: var(--var-color);
}

.t {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 1rem;
    font-family: var(--var-font);
}

.t.parent {
    margin-top: 10px;
    background-color: var(--var-color);
    color: #898686;
}

.t.child {
    background-color: #0FCBFF50;
}